/* ---------------Обнуление----------------------------------------------------------------------- */


/* font-family: 'Montserrat', sans-serif; */


/* font-family: 'Roboto', sans-serif; */


/* font-family: 'Tilt Warp', cursive; */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
    overflow-x: hidden;
    background-color: #eae9eb;
}

.wrapper {
    min-height: 100%;
}

._container {
    width: 1920px;
    margin: 0px auto;
    position: sticky;
    top: 0px;
    z-index: 100;
}


/* --------------HEADER----------------------------------------------------------------------------------------------- */

.header {
    margin-top: 50px;
    z-index: 200;
}

.menu {
    display: flex;
    background: #985ACE;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 80px;
    box-shadow: 4px 4px 16px -3px rgb(95, 93, 95);
}

.logo {
    margin-right: 100px;
}

.text_logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 10px;
}

.link_logo {
    color: #fff;
}

.menu_list {
    display: flex;
}

.menu_item {
    margin-right: 120px;
    display: flex;
}

.menu_item:last-child {
    margin-right: 0px;
}

.card {
    width: 20px;
    height: 20px;
}

.dropbtn {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #985ACE;
    min-width: 110px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 55px;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all 400ms ease;
}

.dropdown-content a:hover {
    color: #dcbef6;
    -webkit-box-shadow: 0px 0px 10px 4px rgba(220, 190, 246, 1);
    -moz-box-shadow: 0px 0px 10px 4px rgba(220, 190, 246, 1);
    box-shadow: 0px 0px 10px 4px rgba(220, 190, 246, 1);
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.dropdown-content p {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all 400ms ease;
}

._cards:after {
    content: '';
    display: inline-block;
    border-right: solid #fffa;
    border-top: solid #fffa;
    width: 7px;
    height: 7px;
    transform: translate(8px, 10px) rotate(45deg);
    margin-bottom: 11px;
}

._info:after {
    content: '';
    display: inline-block;
    border-right: solid #fffa;
    border-top: solid #fffa;
    width: 7px;
    height: 7px;
    transform: translate(8px, 10px) rotate(45deg);
    margin-bottom: 11px;
}

.tickets {
    width: 20px;
    height: 20px;
}

.info {
    width: 20px;
    height: 20px;
}

.wallet {
    width: 20px;
    height: 20px;
}

.people {
    width: 20px;
    height: 20px;
}

.person {
    width: 20px;
    height: 20px;
}

.logout {
    width: 20px;
    height: 20px;
}

.menu_link {
    color: #fff;
    transition: all 400ms ease;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-left: 5px;
}

.menu_link:hover {
    color: #dcbef6;
}

.shopping_cart {
    margin-left: 150px;
}

.icon_cart {}


/* ---------------WALLET------------------------------------------------------------------------------------ */

.container {
    width: 1850px;
    margin: 0 auto;
}

.main {}

.tittle {
    margin-top: 100px;
}

.tittle_text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
}

.address {
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

.address_exchange {
    justify-content: space-between;
    background-color: #fff;
    /*padding: 15px 15px;*/
    /*border-radius: 5px;*/
    /*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
}

.address_exchange_address {
    display: flex;
    justify-content: space-between;
}

.address_exchange_item {
    padding: 5px 5px;
    border-radius: 5px;
    transition: all 400ms ease;
    z-index: 1;
}

.active_wallet {
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 128, 0, 1);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0, 128, 0, 1);
    box-shadow: 0px 0px 10px 5px rgba(0, 128, 0, 1);
}

.address_exchange_item:hover {
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 128, 0, 1);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0, 128, 0, 1);
    box-shadow: 0px 0px 10px 5px rgba(0, 128, 0, 1);
    opacity: 100%;
}

.address_wallet_qrcode {
    text-align: center;
    margin: 25px 0px;
}

.address_exchange_item h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.address_exchange_item img {
    width: 150px;
    height: 150px;
}

.address_exchange_item input {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.9px;
}

input {
    width: 520px;
    outline: none;
    border: none;
    background-color: #fff;
}

.address_wallet_copy {
    text-align: center;
    margin-top: 20px;
}

.address_wallet_copy_btn {
    display: flex;
    margin: 0 auto;
    background-color: #018a01;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #018a01;
    font-size: 16px;
    transition: all 400ms ease;
    opacity: 95%;
}

.address_wallet_copy_btn:hover {
    background-color: #fff;
    color: #008200;
    border: 1px solid #008200;
    cursor: pointer;
    border-radius: 10px;
    opacity: 100%;
}

.address_exchange_value_or {
    display: flex;
    width: 250px;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 50px;
}

.address_exchange_value_or input {
    width: 70px;
    text-align: center;
    background-color: #008000;
    padding: 10px 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

input {
    text-align: center;
    color: #000;
    background-color: #fff;
}

.address_value_login {
    display: none;
}

.address_exchange_value {
    text-align: center;
    margin-top: 45px;
}

.address_exchange_value h2 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.address_value {
    margin-bottom: 20px;
    padding: 10px 10px 10px 20px;
    font-size: 17px;
    background: #F8F1FF;
    border: 1px solid #d9b6ff;
    width: 273px;
    height: 40px;
    border-radius: 7px;
}

.address_exchange_value .address_value {
    color: #000;
}

.address_value:focus {
    border: 2px solid;
    box-shadow: 4px 4px 5px 0 #d9b6ff;
    outline-color: #d9b6ff;
}

.address_btn_value {
    display: flex;
    margin: 0 auto;
    background-color: rgb(1, 138, 1);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid rgb(1, 138, 1);
    font-size: 16px;
    transition: all 400ms ease;
    opacity: 95%;
}

.address_btn_value:hover {
    background-color: #fff;
    color: #008200;
    border: 1px solid #008200;
    border-radius: 10px;
    cursor: pointer;
    opacity: 100%;
}

.address_qrcode_after {
    margin: 0 auto;
    text-align: center;
    margin-top: 25px;
}

.minimal_dep {
    font-family: 'Roboto', sans-serif;
    color: rgb(238, 2, 2);
    line-height: 25px;
}

.affter {
    margin-top: 30px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.affter_items {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    width: 1280px;
    height: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.affter_item {}


/* -----------------------FOOTER----------------------------------------------------------------------------------- */

.footer {}

.none {
    margin-top: 15px;
    height: 100px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.copyright {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    margin-top: 20px;
    text-align: center;
    letter-spacing: 2px;
}

/* ---------Technical-Support------------------------------- */

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

.set-off-btn {
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background: linear-gradient(183.08deg,rgba(0, 123, 255, 0.2) 43.82%,rgba(0, 123, 255, 0.2) 111.17%);
    border-radius: 100px;
    padding: 7px;
}

.pulsating {
    animation: pulse 2s infinite;
}

.technical-support {
    position: fixed;
    bottom: 20px; /* Adjust the distance from the bottom */
    right: 30px; /* Adjust the distance from the right */
    z-index: 999; /* Ensure the button stays on top of other content */
}

.support-link {
    /* transition: all 0.3s ease; */
    display: block;
    width: 50px;
    height: 50px;
    background-color: rgb(0, 123, 255);
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    text-decoration: none;
}

/* .support-link:hover {
    transition: all 0.1s ease;
    width: 55px;
    height: 55px;
} */

.icon_message {
    width: 100%;
    height: 100%;
}

/* General styles */
.chat-box {
    width: 300px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    overflow: hidden;
    animation: slideIn 0.5s ease;
    display: none;
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 300px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.chat-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-chat {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.chat-content {
    padding: 20px;
}

/* Message container */
.message-container {
    max-height: 300px;
    overflow-y: scroll;
}

/* Input container */
.input-container {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

/* Input and send button */
.input-container input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-container .send-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-container .send-button:hover {
    background-color: #0056b3;
}

/* Animations */
@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

#chatMessage:invalid {
    border: 1px solid red;
}